{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>  
<div style="min-width: 950px;" class="chat-container">
    <div style="width: 100%;" class="messages-container">
        <div class="messages-list">
            {% for message in messages %}
                <div class="message {% if message.is_mine %}mine{% endif %}">
                    <div class="message-avatar-box">
                        <img class="message-avatar" {% if message.avatar %} src="{{message.avatar}}" {% else %} src="../static/img/avatar.jpg" {% endif %} alt="Аватар">
                    </div>
                    <div style="overflow-wrap: break-word;" class="message-content">
                        <p class="message-text">{{message.text}}</p>
                        <div class="message-meta">
                            <span class="message-author">{{message.author}}</span>
                            <span class="message-time">{{message.time}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="message-input">
            <textarea class="message-textarea" placeholder="Введите сообщение..."></textarea>
            <button class="send-message">Отправить</button>
        </div>
    </div>
</div>
<script>
const messagesContainer = document.querySelector('.messages-container');
const messageInput = document.querySelector('.message-textarea');
const sendMessageButton = document.querySelector('.send-message');

document.querySelector('.messages-list').scrollTo(0, document.querySelector('.messages-list').scrollHeight)
const socket = io.connect('http://' + document.domain + ':' + location.port);

const chatID = window.location.pathname.split('/chat/')[1];
socket.emit('join_chat', { chat_id: chatID });

socket.on('message_from_server', function(data) {
    const messages = document.querySelector('.messages-list');
    let a = document.querySelector("#avatar-img-heder-linck").href;
    let currentUserId = a.split("id/")[1];
    if (data.id != currentUserId){
    messages.innerHTML += `
        <div class="message">
        <div class="message-avatar-box">
        <img class="message-avatar" src="${data.avatar}" alt="Аватар">
        </div>
        <div style="overflow-wrap: break-word;" class="message-content">
        <p class="message-text">${data.text}</p>
        <div class="message-meta">
        <span class="message-author">${data.author}</span>
        <span class="message-time">${data.time}</span>
        </div>
        </div>
        </div>
        `;
    }
    messages.scrollTo(0, messages.scrollHeight)
});

sendMessageButton.addEventListener('click', function() {
    const messageText = messageInput.value.trim();
    if (messageText) {
        socket.emit('message_from_client', {text: messageText, chat_id: chatID})
        fetch('/api/send-message', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                text: messageText,
                type: "comment",
                chatID: chatID
                
            })
        })
        .then(response => response.json())
        .then(data => {
        const newMessage = `
        <div class="message mine">
        <div class="message-avatar-box">
        <img class="message-avatar" src="${data.avatar}" alt="Аватар">
        </div>
        <div style="overflow-wrap: break-word;" class="message-content">
        <p class="message-text">${data.messageText}</p>
        <div class="message-meta">
        <span class="message-author">${data.name}</span>
        <span class="message-time">${data.time}</span>
        </div>
        </div>
        </div>
        `;
 
        messagesContainer.querySelector('.messages-list').insertAdjacentHTML('beforeend', newMessage);

        document.querySelector('.messages-list').scrollTo(0, document.querySelector('.messages-list').scrollHeight)

        messageInput.value = ''; 
        messageInput.focus();
        });
    }
});
messageInput.addEventListener('keyup', function(event) {
if (event.key === 'Enter') {
sendMessageButton.click();
}
});


window.addEventListener('load', function() {
messageInput.focus();
});

</script>
{% endblock %}