{% extends "base.html" %}
{% block content %} 
                <div class="search-friends-div">
                    <form style="width: 100%; display: flex; flex-direction: row;" class="serch-form" method="post" id="friend-form">
                        <i class="bi bi-search serch-img"></i><!-- 
                        --><input class="serch friends-serch" type="text" placeholder="Поиск">
                    </form>
                </div>
                <div id="createChat" class="create-post-div">
                    <a href="/create_chat" class="create-post-button">
                        <i style="margin-right: 10px;" class="bi bi-plus-lg"></i>
                        <span style="line-height: 50px;">Создать чат</span>
                    </a>
                </div>
                <div class="friends-div">
                    {% for i in chats %}
                        {% if i.comments %}
                        <div class="friend-info">
                            <div class="avatar-and-name-friend">
                                <div style="border-radius: 20%;" class="friend-avatar-box">
                                    <img style="border-radius: 20%;" class="friend-avatar" {% if i.chat_avatar %} src="{{i.chat_avatar}}" {% else %} src="..\static\img\chat.png" {% endif %} alt="">
                                </div>
                                <p style="max-width: 525px;" class="name-friend">{{i.chat_name}}</p>
                            </div>
                            <div class="block-with-buttons-actFriend">
                                <a href="/private_chat/{{i.id}}"><div data-tooltip="Написать" class="button-act-with-friend"><i class="bi bi-chat"></i></div></a>
                                {% if not i.private_chat_with_friend %}
                                <a id="del-link" data-chat_id="{{i.id}}"><div data-tooltip="Удалить чат" class="button-act-with-friend trash-friend-button"><i class="bi bi-trash3"></i></div></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <script>
                    let buttons = document.querySelectorAll('#del-link')
                    console.log(buttons)
                    for (let i=0; i < buttons.length; i++){
                        console.log(buttons[i])
                        buttons[i].addEventListener('click', async (e) => {
                        // e.preventDefault();
                        try {
                            const chat_id = e.currentTarget.dataset.chat_id
                            const response = await fetch(`/delete_private_chat/${chat_id}`, { 
                            method: 'DELETE',
                            });
                            // Обработка ответа
                        } catch (error) {
                            console.error('Ошибка:', error);
                        }
                        location.reload()
                        });
                    }
                    
                </script>
                <script>
                    const searchInput = document.querySelector(".friends-serch");

                    document.getElementById('friend-form').addEventListener('submit', function(event) {
                        event.preventDefault();
                    });
                    
                    searchInput.addEventListener('input', function(event) {
                        const searchValue = event.target.value.toLowerCase();
                        let all_friends = document.getElementsByClassName('friend-info');
                    
                        for (let i = 0; i < all_friends.length; i++) {
                            let name_elements = all_friends[i].getElementsByClassName("name-friend");
                            let fullName = "";
                    
                            // Собираем полное имя из всех элементов с классом name-friend
                            for (let j = 0; j < name_elements.length; j++) {
                                fullName += name_elements[j].textContent + " ";
                            }
                    
                            fullName = fullName.trim().toLowerCase();
                        
                            if (!fullName.includes(searchValue)) {
                                all_friends[i].hidden = true;
                            } 
                            else {
                                all_friends[i].hidden = false;
                            }
                        }
                    });
                    
                    searchInput.addEventListener('keydown', function(event) {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                        }
                    });
                   </script>
{% endblock %}