{% extends "base.html" %}
{% block content %}
<div style="position: relative; z-index: 10; height: 400px;" class="post-form">
    <div class="title-create-post"><h1>Редактировать пост</h1></div>
    <form method="post" enctype="multipart/form-data">

        {{ createPostForm.hidden_tag() }}
        <div style="position: relative;" class="input-caption-with-lbl">
            {{ createPostForm.csrf_token }}
            {{ createPostForm.caption(class="caption-post-input form-control", id="about", rows="8", placeholder="Напишите что-нибудь", required=True) }}
            {% for error in createPostForm.caption.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center;">{{ createPostForm.submit(class="btn btn-primary submit-create") }}<div style="margin-top: 20px; margin-left: 10px;"><a style="display: inline-block; height: 38px;" class="back-create-chat" href="/main">На главную</a></div></div>
    </form>
</div>
{% endblock %}