{% extends "base.html" %}
{% block content %} 
                <div class="search-friends-div">
                    <form style="width: 100%; display: flex; flex-direction: row;" class="serch-form" method="post" id="friend-form">
                        <i class="bi bi-search serch-img"></i><!-- 
                        --><input class="serch friends-serch" type="text" placeholder="Поиск">
                    </form>
                </div>
                <div class="friends-div">
                    {% for i in friends %}
                        <div class="friend-info">
                            <div class="avatar-and-name-friend">
                                <div class="friend-avatar-box">
                                    <a href="/id/{{i.friend.id}}"><img class="friend-avatar" {% if i.friend.img_avatar %} src="{{i.friend.img_avatar}}" {% else %} src="../static/img/avatar.jpg" {% endif %} alt=""></a>
                                </div>
                                <p class="name-friend">{{i.friend.name}}</p><p class="name-friend">{{i.friend.surname}}</p>
                            </div>
                            <div class="block-with-buttons-actFriend">
                                <a href="/private_chat/{{i.chat_id}}"><div data-tooltip="Написать" class="button-act-with-friend"><i class="bi bi-chat"></i></div></a>
                                <a id="del-friend" data-friend_id="{{i.friend.id}}"><div data-tooltip="Удалить из друзей" class="button-act-with-friend trash-friend-button"><i class="bi bi-trash3"></i></div></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <script>
                    let buttons = document.querySelectorAll('#del-friend')
                    for (let i=0; i < buttons.length; i++){
                        buttons[i].addEventListener('click', async (e) => {
                        const isConfirmed = confirm('Вы точно хотите удалить этого друга?');
                        if (!isConfirmed) {
                            return;
                        }
                        try {
                            const friend_id = e.currentTarget.dataset.friend_id
                            const response = await fetch(`/delete_friend/${friend_id}`, { 
                            method: 'DELETE',
                            });
                            if (response.ok) {
                                location.reload(); 
                            } else {
                                alert('Ошибка при удалении друга');
                            }
                        } catch (error) {
                            console.error('Ошибка:', error);
                            alert('Произошла ошибка при удалении');
                        }
                        location.reload()
                        });
                    }
                    
                </script>
                <script>
                    const searchInput = document.querySelector(".friends-serch");

                    document.getElementById('friend-form').addEventListener('submit', function(event) {
                        event.preventDefault();
                    });
                    
                    searchInput.addEventListener('input', function(event) {
                        const searchValue = event.target.value.toLowerCase();
                        let all_friends = document.getElementsByClassName('friend-info');
                    
                        for (let i = 0; i < all_friends.length; i++) {
                            let name_elements = all_friends[i].getElementsByClassName("name-friend");
                            let fullName = "";
                    
                            for (let j = 0; j < name_elements.length; j++) {
                                fullName += name_elements[j].textContent + " ";
                            }
                    
                            fullName = fullName.trim().toLowerCase();
                        
                            if (!fullName.includes(searchValue)) {
                                all_friends[i].hidden = true;
                            } 
                            else {
                                all_friends[i].hidden = false;
                            }
                        }
                    });
                    
                    searchInput.addEventListener('keydown', function(event) {
                        if (event.key === 'Enter') {
                            event.preventDefault();
                        }
                    });
                   </script>
{% endblock %}