{% extends "base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> 
<div class="chat-container">
    <!-- Боковая панель с информацией о чате -->
    <div class="chat-info-panel">
        <div class="chat-avatar-box">
            <img class="chat-avatar" src="{{chat_avatar}}" alt="Аватар чата">
        </div>
        
        <div class="chat-details">
            <h3 class="chat-name">{{chat_name}}</h3>
            <div style="overflow: auto; max-height: 500px; min-width: 240px; scrollbar-width: thin;" class="chat-participants">
                {% for participant in chat_participants %}
                    <div class="participant">
                        <div class="message-avatar-box">
                            <img style="min-width: 40px;" class="message-avatar" {% if participant.img_avatar %} src="{{participant.img_avatar}}" {% else %} src="../static/img/avatar.jpg" {% endif %} alt="Аватар">
                        </div>
                        {{participant.name}} {{participant.surname}}
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <a style="color: white; text-decoration: none;" href="/edit_private_chat/{{chat_id}}" class="edit-chat-info">Редактировать</a>
    </div>

    <!-- Область сообщений -->
    <div class="messages-container">
        <div class="messages-list">
            {% for message in messages %}
                <div class="message {% if message.is_mine %}mine{% endif %}">
                    <div class="message-avatar-box">
                        <img class="message-avatar" {% if message.avatar %} src="{{message.avatar}}" {% else %} src="../static/img/avatar.jpg" {% endif %} alt="Аватар">
                    </div>
                    <div style="overflow-wrap: break-word;" class="message-content">
                        <p class="message-text">{{message.text}}</p>
                        <div class="message-meta">
                            <span class="message-author">{{message.author}}</span>
                            <span class="message-time">{{message.time}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <!-- Поле ввода сообщения -->
        <div class="message-input">
            <textarea class="message-textarea" placeholder="Введите сообщение..."></textarea>
            <button class="send-message">Отправить</button>
        </div>
    </div>
</div>
<script>
// Получаем основные элементы
const chatInfoPanel = document.querySelector('.chat-info-panel');
const editChatInfoButton = document.querySelector('.edit-chat-info');
const messagesContainer = document.querySelector('.messages-container');
const messageInput = document.querySelector('.message-textarea');
const sendMessageButton = document.querySelector('.send-message');

// Подключаемся к серверу WebSocket
document.querySelector('.messages-list').scrollTo(0, document.querySelector('.messages-list').scrollHeight)
const socket = io.connect('http://' + document.domain + ':' + location.port);

const chatID = window.location.pathname.split('/private_chat/')[1];
socket.emit('join_chat', { chat_id: chatID });

// Получаем сообщения от сервера
socket.on('message_from_server', function(data) {
    console.log(data);
    const messages = document.querySelector('.messages-list');
    let a = document.querySelector("#avatar-img-heder-linck").href;
    let currentUserId = a.split("id/")[1];
    if (data.id != currentUserId){
    messages.innerHTML += `
        <div class="message">
        <div class="message-avatar-box">
        <img class="message-avatar" src="${data.avatar}" alt="Аватар">
        </div>
        <div style="overflow-wrap: break-word;" class="message-content">
        <p class="message-text">${data.text}</p>
        <div class="message-meta">
        <span class="message-author">${data.author}</span>
        <span class="message-time">${data.time}</span>
        </div>
        </div>
        </div>
        `;
    }
    messages.scrollTo(0, messages.scrollHeight)
});

// Обработчик отправки сообщения
sendMessageButton.addEventListener('click', function() {
    const messageText = messageInput.value.trim();
    console.log(messageText)
    if (messageText) {
        socket.emit('message_from_client', {text: messageText, chat_id: chatID})
        fetch('/api/send-message', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                text: messageText,
                type: "private",
                chatID: chatID
                
            })
        })
        .then(response => response.json())
        .then(data => {
        const newMessage = `
        <div class="message mine">
        <div class="message-avatar-box">
        <img class="message-avatar" src="${data.avatar}" alt="Аватар">
        </div>
        <div style="overflow-wrap: break-word;" class="message-content">
        <p class="message-text">${data.messageText}</p>
        <div class="message-meta">
        <span class="message-author">${data.name}</span>
        <span class="message-time">${data.time}</span>
        </div>
        </div>
        </div>
        `;
 
        // Продолжаем предыдущий код
        messagesContainer.querySelector('.messages-list').insertAdjacentHTML('beforeend', newMessage);

        // Прокручиваем до последнего сообщения
        document.querySelector('.messages-list').scrollTo(0, document.querySelector('.messages-list').scrollHeight)

        messageInput.value = ''; // Очищаем поле ввода
        messageInput.focus();
        });
    }
});
// Обработчик ввода с клавиатуры
messageInput.addEventListener('keyup', function(event) {
if (event.key === 'Enter') {
sendMessageButton.click();
}
});

// Обработчик для автофокуса на поле ввода
window.addEventListener('load', function() {
messageInput.focus();
});

</script>
{% endblock %}