{% extends "base.html" %}
{% block content %} 
    <div class="edit-profile-form">
        <h1 class="edit-title">Редактирование профиля</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form2.hidden_tag() }}
            
            <div style="display: flex; flex-direction: row;">
                <div class="grop-inputs">
                    <p class="id">id: {{ form2.client_id.data }}</p>
                    
                    <div class="input-with-lbl">
                        {{ form2.name.label(class="edit-label-text") }}<br>
                        {{ form2.name(class="text-input-edit") }}
                    </div>
                    
                    <div class="input-with-lbl">
                        {{ form2.surname.label(class="edit-label-text") }}<br>
                        {{ form2.surname(class="text-input-edit") }}
                    </div>
                    
                    <div class="input-with-lbl">
                        {{ form2.age.label(class="edit-label-text") }}<br>
                        {{ form2.age(class="text-input-edit") }}
                    </div>
                </div>
                
                <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 10px;" class="grop-inputs-file">
                    <div class="input-file-with-lbl">
                        <label style="display: flex; flex-direction: column; align-items: center; justify-content: center;" for="avatar" >
                            <p style="color: white; margin-bottom: 20px;">Выбирите аватарку</p>
                            <div style="position: relative; top:0; left: 0; width: 100px; height: 100px; border-color: #3d3a3a;" class="avatar-box">
                                <img id="avatar-preview" class="avatar-img" style="width: 100px; height: 100px;" src="{{ user.img_avatar or '../static/img/avatar.jpg' }}">
                            </div>
                            
                        </label>
                        {{ form2.avatar(class="file-input", hidden=true, id="avatar") }}
                    </div>

                    <div class="input-file-with-lbl">
                        <label style="display: flex; flex-direction: column; align-items: center; justify-content: center;" for="background" >
                            <p style="color: white; margin-bottom: 20px;">Выбирите фон профиля</p>
                            <div style="position: relative; top:0; left: 0; width: 238px; height: 100px; border-color: #3d3a3a; border-radius: 5px;" class="avatar-box">
                                <img id="background-preview" class="avatar-img" style="width: 238px; height: 100px;" src="{{ user.img_profile or '../static/img/profile_img.jpg' }}">
                            </div>
                            
                        </label>
                        {{ form2.background(class="file-input", hidden=true, id="background") }}
                    </div>
                </div>
            </div>
            <script>
                const AvatarInput = document.querySelector('#avatar');
                const AvatarPreview = document.querySelector('#avatar-preview');
                AvatarInput.addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        
                        reader.onload = function(e) {
                            AvatarPreview.src = e.target.result;
                        };
                        
                        reader.readAsDataURL(file);
                    }
                });
                const BackgroundInput = document.querySelector('#background');
                const BackgroundPreview = document.querySelector('#background-preview');
                BackgroundInput.addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        
                        reader.onload = function(e) {
                            BackgroundPreview.src = e.target.result;
                        };
                        
                        reader.readAsDataURL(file);
                    }
                });
            </script>
            {% if message %}
                <div style="margin-top: 10px;" class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
            <div style="border-top: 1px solid #3d3a3a; padding-top: 10px; margin-top: 30px;">
                <div style="display: flex; flex-direction: row;">{{ form2.submit(class="submit") }}<a style="color: lightgray; margin-left: 10px;" class="back-create-chat" href="/main">На главную</a></div>
            </div>
        </form>
        
    </div>
{% endblock %}